<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../assets/CSS/login.css">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form id="loginForm" action="../controller/login.php">
      <input type="email" id="email" placeholder="Email">
      <input type="password" id="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
    <div class="message" id="message"></div>
    <div class="links">
      <a href="forgot-password.html">Forgot Password?</a>
      <div class="signup-link">
        Don't have an account? <a href="./signup.html">Sign Up</a>
      </div>
    </div>
  </div>
  <script src="../assets/JAVASCRIPT/login.js"></script>
</body>
</html>